<!-- <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script>
    function showMailingPopUp() {
        require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"a5706084c4ffefe65016a5bf3","lid":"856a29415d"}) })
    }
    document.addEventListener('readystatechange', event => { 
        if (event.target.readyState === "complete") {
                document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
        }
    })
</script> -->